.client-section {
  @include padding(60px, 0, 60px, 0);
  @media screen and(min-width:1200px) {
    @include padding(94px, 0, 94px, 0);
  }
}
.client-section__klient-title {
  color: var(--title-text-color);
  @include font(700, 28px, 1.17);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  @media screen and(min-width:1200px) {
    @include font(700, 36px, 1.16);
  }
}
.client-section__client-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: -30px;
  margin-top: -30px;
  @media screen and(min-width:1200px) {
    justify-content: space-between;
  }
}
.client-section__client-list-element {
  display: block;
  width: 150px;
  height: 92px;
  margin-left: 30px;
  margin-top: 30px;
  @media screen and(min-width:480px) {
    width: 210px;
    height: 92px;
  }
  @media screen and(min-width:768px) {
    width: 226px;
  }
  @media screen and(min-width:1200px) {
    &:nth-child(6n) {
      margin-right: 0;
    }
    width: 170px;
    height: 92px;
  }
}
.client-section__client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
  }
}
.client-section__client-icon {
  width: 100%;
  height: 100%;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .client-section__client-link:hover &,
  .client-section__client-link:focus & {
    fill: var(--accent-color);
  }
}
