.main-nav {
  display: flex;
  align-items: center;
}

/* site nav */
.main-nav__site-nav {
  display: flex;
  position: relative;
  @include font(500, 14px, 1.14);
  letter-spacing: 0.02em;
  margin-left: 93px;
}
.main-nav__site-navigation {
  .current::after {
    display: flex;
    content: '';
    position: absolute;
    height: 4px;
    width: 48px;
    border-radius: 2px;
    background-color: var(--accent-color);
    justify-content: center;
    align-items: center;
    bottom: -1px;
  }
}
.main-nav__site-nav .item {
  & + .item {
    margin-left: 50px;
  }
}

.main-nav__site-nav .link {
  display: block;
  @include pading(32px, 0, 32px, 0);
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.main-nav__site-nav .link {
  &.current {
    color: var(--accent-color);
  }
}
/* contact nav */
.main-nav__contact-nav {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: auto;
}
.main-nav__contact-nav .main-nav__item {
  & + .main-nav__item {
    margin-left: 50px;
  }
}
.main-nav__contact-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact-icon {
  fill: #757575;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  fill: currentColor;
}
